# AWS
AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Datadog
DATADOG_API_KEY=
DATADOG_APP_KEY=

# Splunk
SPLUNK_HOST=
SPLUNK_TOKEN=

# Confluence
CONFLUENCE_URL=
CONFLUENCE_USER=
CONFLUENCE_TOKEN=

# Slack
SLACK_BOT_TOKEN=
SLACK_CHANNEL=

# PagerDuty
PAGERDUTY_API_KEY=
PAGERDUTY_SERVICE_ID=

# Microsoft Teams
TEAMS_WEBHOOK_URL=
